html, body{
    margin: 0;
    padding: 0;
}
body > h1{
    margin: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
}
div.botao-de-curtir{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 100px;
}
div.botao-de-curtir img{
    cursor: pointer;
    transition: 1ms ease-in-out;
}
.botao-de-curtir img:active{
    transform: scale(1.1, 1.1);
}
div#mostra{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
footer{
    position: absolute;
    bottom: 0;
    background-color: #000;
    color: #fff;
    padding: 0 .5rem;
}